{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

   <ul>
    <li><a href="{{ path('categories') }}">Categories</a></li>
    <li><a href="{{ path('modules') }}">Modules</a></li>
    <li><a href="{{ path('stagiaires') }}">Stagiaires</a></li>
    <li><a href="{{ path('formations') }}">Formations</a></li>
   </ul>
</div>
{% endblock %}
