{% extends 'base.html.twig' %}

{% block title %}Hello FormationsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% for formation in formations %}
    <ul>
        <li> {{formation.nom}} - <a href="{{ path('formation_info', {'id': formation.id})}}">Info</a> </li>
    </ul>
</div>
{% endfor %}

<a href="{{ path('admin_home') }}">Page Admin</a>
<a href="{{ path('formation_new')}}">Ajouter une Formtaion</a>
{% endblock %}
