{% extends "base.html.twig" %}

{% block title %} Les info de la formation {{formation.nom}} {% endblock title %}

{% block body %}



<div>
    <h2> {{formation.nom}} </h2> <a href="{{ path('formation_edit', {'id': formation.id}) }}">Modifier</a> - <a href="{{ path('formation_delete', {'id': formation.id}) }}">Supprimer</a>
    <ul>
        <li> Date {{formation.dateDebut | date('d/m/Y')}} - {{formation.dateFin | date('d/m/Y')}} </li>
        {% for programme in formation.programmes %}
        <li>Modules :{{ programme }}</li> <a href="{{ path('formation_remove_programme' , {'formation': formation.id , 'programme': programme.id}) }}">Supprimer le Programme</a><br>
        {% endfor %}     
    </ul>
</div>

<div>
    <h2>Stagiaires</h2>
    {% for FormationStagiaire in FormationStagiaires %}
    <ul>
        <li>{{ FormationStagiaire.nom }} {{ FormationStagiaire.prenom }} <a href="{{ path('formation_remove_stagiaire',  {'formation': formation.id , 'stagiaire': FormationStagiaire.id }) }}">Supprimer le stagaire de la formation</a></li>
    </ul>
    {% endfor %}

    <div>
        <h2>Ajouter un Stagiaire a la formation {{formation.nom}}  ( {{ formation.countStagiaires }} /{{formation.nbPlace}} )</h2>
        {% for nonInscrit in nonInscrits %}
           <ul>
                <li> {{nonInscrit.nom}} {{nonInscrit.prenom}} <a href="{{ path('formation_add_stagiaire', {'formation' : formation.id , 'stagiaire': nonInscrit.id} )}}">Ajouter</a> </li>
           </ul>
            {% endfor %}
    </div> 
    
    
        
        <div>
            <h2>Ajouter un Programme</h2>
            {% for module in nonProgrammes %}
                <ul>
                    <li> {{module}} </li> 
                </ul>
                <form action="{{ path('formation_add_programme' , {'formation': formation.id , 'module': module.id, }) }}" method="post">
                    <input type="number" name="nbJours" id="nbJour">
                    <input type="submit" name="submit" value="Ajouter">
                </form>
            {% endfor %}
        </div>
        
    
        

<a href="{{ path('admin_home') }}">Page admin</a>
<a href="{{ path('formations') }}">Revenir en arriere</a>


{% endblock body %}