{% extends 'base.html.twig' %}

{% block title %}Hello ModulesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
  {% for module in modules %}
    <li>{{module.nom}} <a href="{{ path('modules_info', {'id': module.id}) }}">Detaille</a></li>
  {% endfor %}

  <a href="{{ path('admin_home') }}">Page Admin</a>
  
  
</div>
  <button id="showForm">Ajouter un module</button>

  <div id="moduleForm">
    {{ form (moduleForm) }} 
  </div>

  <script>
    const showFormButton = document.getElementById('showForm');
    const moduleForm = document.getElementById('moduleForm');
    
    showFormButton.addEventListener('click', function() {
        if (moduleForm.style.display === 'none') {
            moduleForm.style.display = 'block';
            showFormButton.textContent = 'Fermer';
        } else {
            moduleForm.style.display = 'none';
            showFormButton.textContent = 'Afficher le formulaire';
        }
    });
    
  </script>
{% endblock %}
