{% extends 'base.html.twig' %}

{% block title %}Info du Module {{module.nom}}  {% endblock title %}

{% block body %} 

<div>
    <ul>
        <li>Nom de la categoire: {{module.categorie.nom}}</li>
        <li>Nom du module: {{module.nom}} </li>
    </ul>
    <a href="{{ path('modules_edit', {'id': module.id}) }}">Modifier</a>
    <a href="{{ path('modules_delete', {'id': module.id}) }}">Supprimer</a>

    <a href="{{ path('admin_home')}}">Page Admin</a>
</div>

{% endblock %}