{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}


<div class="bg-light">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        {% for categorie in categories %}
        <li> <a href="{{ path('categorie_show_modules' , {'id': categorie.id, 'nom': categorie.nom})}}">{{ categorie.nom }}</a> - <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>--
        <a href="{{ path('categorie_delete',{'id': categorie.id}) }}">Supprimer</a></li><br>
        {% endfor %}
    </ul>

    <a href="{{ path('categorie_new') }}">Ajouter une categorie</a>
    <a href="{{ path('admin_home') }}">Page Admin</a>
</div>
{% endblock %}
